
@media (max-width:1199px){
    .container{
        max-width: 960px;
    }
}



@media (max-width:991px){
    /* header{
        display: none;
    } */
    .container{
        max-width: 720px;
    }

    .info{
        grid-template-columns: repeat(2 , 1fr);
    }

    .customer-bottom .cart{
        width: calc(50% - 10px);
        margin: 10px 0;
    }

    .services-2 .service-cart{
        width: 33%;
        margin: 10px 0;
        padding: 0 3px;
    }

    .help-services .help-cart{
        width: calc(50% - 10px);
        margin: 10px 0;
    }

    .hero-left{
        width: 100%;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 40px;
    }
    
     .hero-right{
        width: 100%;
        padding-left: 30px;
    }

}


@media (max-width:767px){
    .container{
        max-width: 540px;
    }

    .header-auth{
        display: none;
    }
    .header-nav-items{
        display: none;
    }

    .footer-content{
        grid-template-columns: repeat(1 , 1fr);
    }

    .footer-row{
        grid-template-columns: repeat(2 , 1fr);
    }

    .footer-col{
        margin-top: 15px;
    }

    .info{
        grid-template-columns: repeat(3 , 1fr);
    }

    .customer-bottom .cart{
        width: calc(50% - 10px);
        margin: 10px 0;
    }

    .services-2 .service-cart{
        width: 50%;
        margin: 10px 0;
        padding: 0 3px;
    }

    .help-services .help-cart{
        width: calc(50% - 10px);
        margin: 10px 0;
    }

    .divider{
       
        grid-template-columns: repeat(1 , 1fr);
        
    }

    .companies-logo img{
        padding: 15px 0;
    }

    .hero-left{
        width: 100%;
    }
    
     .hero-right{
        width: 100%;
    }
    
}


@media (max-width:575px){
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-content{
        grid-template-columns: repeat(1 , 1fr);
    }

    .footer-row{
        grid-template-columns: repeat(1 , 1fr);
        margin: 15px auto;
    }

    .footer-address{
        margin: auto;
    }

    .info{
        grid-template-columns: repeat(1 , 1fr);
    }

    .customer-bottom .cart{
        width: 100%;
    }

    .customer-top div{
        padding-top: 10px;
    }

    .customer-top{
        justify-content: space-around;
    }
    .services-2 .service-cart{
        width: 100%;
        margin: 10px 0;
        padding: 0 3px;
    }

    .help-services .help-cart{
        width: 100%;
        
    }

    .divider{
       
        grid-template-columns: repeat(1 , 1fr);
        
    }

    .product-cart{
        width: 100%;
        padding: 15px 0;
    }

    .companies-logo img{
        padding: 15px 0;
    }

    .hero-left{
        width: 100%;
    }
    
     .hero-right{
        width: 100%;
    }
}