/* 
===================================
CSS Variable
===================================
*/
:root{
    --size-xl: 32px;
    --size-lg: 24px;
    --size-md: 18px;
    --size-sm: 14px;
    --primary-color: #20484F;
    --secondary-light-color: #DCF2ED;
    --secondary-green-color: #B8E4DA;
    --dark-color: #072125;

}


/* 
===================================
Start Basic Setup
===================================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-size: 16px;
    font-family: "Plus Jakarta Sans 400";
    color: var(--dark-color);
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #FFFFFF;;

}

a,
span,
label{
    display: inline-block;
}

input,
button,
textarea{
    outline: 0;
    border: 0;
}

button{
    cursor: pointer;
}

/* 
===================================
End Basic Setup
===================================
*/



/* 
===================================
Start Reuseable Conponent Section 
===================================
*/

.container{
    max-width: 1170px;
    margin: auto;
}

.btn{
    background: var(--primary-color);
    border-radius: 8px;
    color:#FFFFFF;
    font-size: var(--size-md);
    padding: 16px 36px;
}
.section-title{
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-xl);
    color: var(--dark-color);
}
/* 
===================================
End Reuseable Conponent Section
===================================
*/

/* 
===================================
Start companies Section 
===================================
*/
/* 
===================================
End companies Section
===================================
*/

/* 
===================================
Start Production Section 
===================================
*/
.production{
    background-color: #FAFAFA;
    padding-top: 110px;
    padding-bottom: 99px;
}

.divider{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 50px;
}

.txt{
    font-size: var(--size-md);
    margin-bottom: 39px;
    padding-right: 30px;
}
.product-info h3 {
    margin-bottom: 12px;
}

.product-icon{
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: var(--secondary-light-color);
}

.product-icon img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-cart{
    width: calc(50%);
    padding-right: 15px;
    padding-bottom: 15px;
}

.side-img{
    background-image: url(../images/product/man.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.side-img img{
    height: 547px;
    width: 100%;
}

.pg{
    margin-top: 15px;
}
/* 
===================================
End Production Section
===================================
*/

/* 
===================================
Start Help Section 
===================================
*/
.help-services{
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 82px;
}

.help-services .help-cart{
    width: calc(33% - 10px);
}

 .img-div{
     background-size: contain;
     background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .img-1{
    background-image: url(../images/help/bg_1.png);
    /* width: 356px; */
    height: 379px;
 }
 .img-2{
    background-image: url(../images/help/bg_2.png);
    /* width: 344px; */
    height: 359px;
 }
 .img-3{
    background-image: url(../images/help/bg_3.png);
    /* width: 346px; */
    height: 380px;
 }

 .img-div .box-1{
    width: 222px;
    height: 302px;
    background: #FFFFFF;
    box-shadow: 0px 3.11579px 31.1579px rgba(138, 138, 138, 0.04);
    border-radius: 9.34737px;
    padding: 18px 24px 24px 24px;

 }
 .img-div .box-2{
    width: 365px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 3.11579px 31.1579px rgba(138, 138, 138, 0.04);
    border-radius: 9.34737px;

 }
 .img-div .box-3{
    width: 213px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 0px 3.11579px 31.1579px rgba(138, 138, 138, 0.04);
    border-radius: 9.34737px;

 }

 .text-div{
     text-align: center;
     margin-top: 25px;
 }

 .text-div h4{
     font-family: "Plus Jakarta Sans 700";
     font-size: var(--size-lg);
     margin-bottom: 14px;
 }
 .p-title,.s-title{
    font-family: "Plus Jakarta Sans 700"; 
 }
 .s-title{
    font-size: var(--size-sm);
 }
 .p-title{
    font-size: var(--size-md);
 }

 .text-mockup{
    height: 8px;
    background: rgba(32, 72, 79, 0.1);
    border-radius: 9.34737px;
 }
 .tik{
    width: 14.8px;
    height: 14.8px;
    position: relative;
    background-color: var(--secondary-light-color);
    border-radius: 50%;
    display: inline-block;
 }

 .tik img{
    width: 6.5px;
    height: 6.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .avatar{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 30px 15px;

 }
 .avatar img{
    width: 67.64px;
    height: 67.64px;
    border-radius: 50%;
    margin-bottom: 16px;

 }

 .help-row{
     display: flex;
    justify-content: space-between;
 }

 .tik-div{
    width: 54px;
    height: 54px;
    background-color: var(--secondary-light-color);
    border-radius: 50%;
 }
 .tik-div img{
     width: 21px;
     height: 16px;
     position: relative;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

 }
 .help-row{
     padding: 23px 20px;
 }

 .empt-box{
    width: 178px;
    height: 28px;
    background-color: var(--secondary-green-color);
    border-radius: 6px;
 }
/* 
===================================
End Help Section
===================================
*/

/* 
===================================
Start Services Section 
===================================
*/

.services-2{
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 59px;
    padding-bottom: 125px;
}

.services-2 .service-cart{
    width: 25%
}

.service-2-icon{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--secondary-light-color);
}

.service-2-icon img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pt{
    padding-top: 30px;
}
.name-gap{
    padding-top: 10px;
}

/* 
===================================
End services Section
===================================
*/

/* 
===================================
Start Customer Review Section 
===================================
*/

.customer-review{
    background-color: #FAFAFA;
}
.customer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 41px;
}

.customer-top .section-title{
    margin-bottom: 16px;
}

.customer-top div{
    padding-top: 71px;
}
.customer-top button{
    margin-top: 22px;
}

.customer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customer-bottom .cart{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 33px 36px;
    width: calc(33% - 10px);
}

.comment,
.quote{
    padding: 0 8px;
}
    
.cart .comment{
    font-size: var(--size-lg);
}
.cart .quote{
    width: 31px;
    height: 25px;
    color: var(--primary-color);
}

.name{
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-md);
}

.job-title{
    font-size: var(--size-sm);
    color: var(--primary-color);
}

.cart .cart-footer{
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* 
===================================
End Customer Review Section
===================================
*/


/* 
===================================
Start Bottom Banner Section 
===================================
*/

.bottom-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    text-align: center;
}
.bottom-banner p {
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-md);
    margin-bottom: 25px;
}
.bottom-banner h1 {
    font-family: "Plus Jakarta Sans 700";
    font-size: 50px;
    color: var(--dark-color);
    margin-bottom: 54px;
}
.bottom-banner button {
    font-size: var(--size-md);
    color: #FFFFFF;
}

/* 
===================================
End Bottom Banner Section
===================================
*/



/* 
===================================
Start Footer Section 
===================================
*/

footer{
background-color: var(--dark-color);
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 50px 0;
}

.address{
 color: var(--secondary-light-color);
}
.address h3{
    font-family: "Plus Jakarta Sans 700";
    color: #FFFFFF;
    font-size: var(--size-xl);
}

.row{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.row a{
    color: var(--secondary-light-color);
    font-family: "Plus Jakarta Sans 400";
}

.row div h5{
    color: #FFFFFF;
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-md);

}

hr{
    opacity: 0.2;
    border: 1px solid var(--secondary-green-color);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    size: var(--size-sm);
    color: var(--secondary-light-color);
    padding: 16px 0;
    
}

/* 
===================================
End Footer Section
===================================
*/

/* 
===================================
Start Section 
===================================
*/
/* 
===================================
End Section
===================================
*/