/* 
===================================
CSS Variable
===================================
*/
:root{
    --size-xl: 32px;
    --size-lg: 24px;
    --size-md: 18px;
    --size-sm: 14px;
    --primary-color: #20484F;
    --secondary-light-color: #DCF2ED;
    --secondary-green-color: #B8E4DA;
    --dark-color: #072125;

}


/* 
===================================
Start Basic Setup
===================================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-size: 16px;
    font-family: "Plus Jakarta Sans 400";
    color: var(--dark-color);
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #FFFFFF;;

}

a,
span,
label{
    display: inline-block;
}

input,
button,
textarea{
    outline: 0;
    border: 0;
}

button{
    cursor: pointer;
}

/* 
===================================
End Basic Setup
===================================
*/



/* 
===================================
Start Reuseable Conponent Section 
===================================
*/

.container{
    max-width: 1170px;
    margin: auto;
}

.btn{
    background: var(--primary-color);
    border-radius: 8px;
    color:#FFFFFF;
    font-size: var(--size-md);
    padding: 16px 36px;
}
/* 
===================================
End Reuseable Conponent Section
===================================
*/


/* 
===================================
Start Section 
===================================
*/

.bottom-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    text-align: center;
}
.bottom-banner p {
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-md);
    margin-bottom: 25px;
}
.bottom-banner h1 {
    font-family: "Plus Jakarta Sans 700";
    font-size: 50px;
    color: var(--dark-color);
    margin-bottom: 54px;
}
.bottom-banner button {
    font-size: var(--size-md);
    color: #FFFFFF;
}

/* 
===================================
End Section
===================================
*/



/* 
===================================
Start Footer Section 
===================================
*/

footer{
background-color: var(--dark-color);
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 50px 0;
}

.address{
 color: var(--secondary-light-color);
}
.address h3{
    font-family: "Plus Jakarta Sans 700";
    color: #FFFFFF;
    font-size: var(--size-xl);
}

.row{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.row a{
    color: var(--secondary-light-color);
    font-family: "Plus Jakarta Sans 400";
}

.row div h5{
    color: #FFFFFF;
    font-family: "Plus Jakarta Sans 700";
    font-size: var(--size-md);

}

hr{
    opacity: 0.2;
    border: 1px solid var(--secondary-green-color);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    size: var(--size-sm);
    color: var(--secondary-light-color);
    padding: 16px 0;
    
}

/* 
===================================
End Footer Section
===================================
*/

/* 
===================================
Start Section 
===================================
*/
/* 
===================================
End Section
===================================
*/